<!DOCTYPE html>
<html >
    <head>
        <title></title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="form-section">
            <h1>{{form_name}}</h1>
            <form action="{{path}}" method="post">
                u_id : <input type="number" name="u_id"><br>
                u_name : <input type="text" name="u_name"><br>
                u_age : <input type="number" name="u_age"><br>
                u_salary : <input type="number" name="u_salary"><br>
                <input type="submit">
            </form>
        </div>    
    </body>
</html>